{% extends 'base.html' %}
{% block content %}
 <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.2/js/bootstrap.min.js"></script>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Contact</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ramesh reddy</td>
    <td>Correspondent</td>
    <td>4954783285</td>
    <td>rameshreddyasr2005@gmail.com</td>
  </tr>
  <tr>
    <td>Gopi</td>
    <td>principal&Accounts Lecturer</td>
    <td>4954783745</td>
    <td>gopiaakula@gmail.com</td>
  </tr>
  <tr>
    <td>Bhaskar</td>
    <td>vice-principal&Telugu</td>
    <td>8473725743</td>
    <td>bhaskarkavali@gmail.com</td>
  </tr>
  <tr>
    <td>Jayapal</td>
    <td>English Lecturer</td>
    <td>6562347343</td>
    <td>jayapal1988@gmail.com</td>
  </tr> <tr>
    <td>Ayyappa</td>
    <td>Mathematics Lecturer</td>
    <td>7364747375</td>
    <td>ayyappakumtala@gmail.com</td>
  </tr>
  <tr>
    <td>Purushotham</td>
    <td>Statistics Lecturer</td>
    <td>8574643739</td>
    <td>purushothamreddy1992@gmail.com</td>
  </tr>
  <tr>
    <td>Hari Krishna</td>
    <td>Computers Lecturer</td>
    <td>5323472382</td>
    <td>harikrishna123@gmail.com</td>
  </tr>
  <tr>
    <td>Vasantha</td>
    <td>Chemistry Lecturer</td>
    <td>7422758438</td>
    <td>vasanthachilla@gmail.com</td>
  </tr>
  <tr>
    <td>Dilli babu</td>
    <td>Physics Lecturer</td>
    <td>9843384738</td>
    <td>dillibabupotha@gmail.com</td>
  </tr>
  </tbody>
</table>

{% endblock %}